<!-- ejs stands for embedded java script. It can be used as php where 
dynamic content is inserted into a html page similar to PHP. -->

<h1><%= variable_name%></h1>

<% if (x = 7) { %>
    <h3>TJo, x är 7</h3>
<% } %>